.student-container {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    .wr-action {
        text-align: right;
    }
    .listStudent {
        border: 1px solid #727071;
        width: 100%;
        margin-bottom: 0;
        td,
        th {
            text-align: left;
            padding: 8px;
        }

        .addStudent {
            width: 100%;
            max-width: 1200px;
            margin: 10px auto;
            display: flex;
            flex-direction: column;
        }
        tbody tr:hover {
            box-shadow: 0 0 5px 2px rgb(175, 172, 172);
        }
        thead {
            background-color: #727071;
            color: #fff;
        }
        tr:nth-child(even) {
            background-color: #dddddd;
        }
        .btn-delete {
            border: none;
            background: rgb(248, 107, 107);
            color: #fff;
            padding: 3px 15px;
            border-radius: 5px;
            outline: 0;
            text-transform: uppercase;
            font-size: 12px;
        }
        .btn-delete:hover {
            background: red;
        }
    }
    .wp-pagination {
        margin: 20px 0;
        justify-content: flex-end;
        display: flex;
        align-items: center;
        .block-current-page {
            margin-right: 20px;
            .anticon {
                cursor: pointer;
                // &:hover {
                //     box-shadow: 0 2px 2px #727071;
                // }
            }
            .page-number {
                font-size: 16px;
                margin: 0 10px;
            }
        }
    }
    .no-data {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        border: 1px solid grey;
        padding: 5px;
        color: red;
        text-align: center;
    }
}
